<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/styles.css">
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>BM Portfolio</title>
    </head>
    <body>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Bald Mike</a>
                </div>
    
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="portfolio"><span class="active glyphicon glyphicon-briefcase"></span> Portfolio</a></li>
                    <li><a href="contact"><span class="glyphicon glyphicon-globe"></span> Contact</a></li>
                </ul>
                
            </div>
        </nav>

        <div class="portfolio col-md-12">
            <div class="col-xs-4">
                <h2 class="portHead">Fizz Buzz Master</h2>
                <img src="~/images/fizzBuzz.jpg" height="400" width="400">
                <h4 class="portWords"><p>Imagine this:  numbers printing, willy-nilly, in the console...  But, every time it's about to print a number divisible by 3, it prints "Fizz" instead. Or, when it's about to print a number divisible by 5, it prints "Buzz".  Crazy, right?</p>  <p>Well, imagine if it freakin' printed "FizzBuzz" when the number was divisible by BOTH 3 AND 5...</p>  <p>Yes, I can do that.  And I'm very good at it.</p></h4>
            </div>
            <div class="col-xs-4">
                <h2 class="portHead">1 to 255 Champion</h2>
                <img src="~/images/255.jpg" height="400" width="400">
                <h4 class="portWords"><p>A console.  Some numbers.  And all in order.  All in a day's work.</p>  <p>Yes, if you're looking for someone who can print 1 to 255 in the console, I'm your man.</p>  <p>Many people claim to know how to do this, but I can print ONLY ODDS if I want to.</p></h4>
            </div>
            <div class="col-xs-4">
                <h2 class="portHead">Hello World King</h2>
                <img src="~/images/hello-world.png" height="400" width="400">
                <h4 class="portWords"><p>You turn on your computer, type some stuff and hit enter.  You wait a split second, and then BAM!!!</p>  <p>The words appear, as if by MAGIC.</p>  <p>What was once considered alchemy is now possible, thanks to what I call "computer programming languages".  It's nearly impossible to explain, but I CAN DO THIS.  Please HMU on Instagram for more info (what is known as a "link" is provided in the "contact" section).</p></h4>
            </div>
        </div>
        
        <div class="col-xs-12">
            <h1 class="header">Chango.  De.  Codigo.</h1>
        </div>

    </body>
</html>