* {
    margin: 0px;
    padding: 0px;
}

.col-centered {
    text-align: center;
    float: none;
    margin: auto;
}

.codebox {
    border: 2px solid black;
    background: slategray;
    box-shadow: 5px 5px 5px;
}

.button {
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 100px;
    color: slategray;
}

.inline {
    display: inline;
}