<div class="col-xs-3 mover2">
    <img src="~/images/digi1.jpg" >
</div>

<div class="col-xs-3 mover">
    <h1>Welcome</h1>
    <h3></h3>
</div>

<div class="col-xs-3 mover2">
    
</div>

<div class="col-xs-3 mover">
    <img src="~/images/digi1.jpg" >
</div>

<div class="col-xs-3 mover1">
    <img src="~/images/digi1.jpg" >
</div>

<div class="col-xs-3 mover2">
    
</div>

<div class="col-xs-3 mover1">
    <h1>To</h1>
    <h3></h3>
</div>

<div class="col-xs-3 mover2">
   <img src="~/images/digi1.jpg" >
</div>

<div class="col-xs-3 mover2">
    <img src="~/images/digi1.jpg" >
</div>

<div class="col-xs-3 mover3">
    <h1>The</h1>
    <h3></h3>
</div>

<div class="col-xs-3 mover2">
    
</div>

<div class="col-xs-3 mover3">
    <img src="~/images/digi1.jpg" >
</div>

<div class="col-xs-3 mover5">
    <img src="~/images/digi1.jpg" >
</div>

<div class="col-xs-3 mover2">
    
    
</div>

<div class="col-xs-3 mover5">
    <h1>Internet</h1>
    <h3></h3>
</div>

<div class="col-xs-3 mover2">
    <img src="~/images/digi1.jpg" >
</div>