* {
    margin: 0px;
    padding: 0px;
}

.bold {
    font-weight: bold;
}

button {
    background: gray;
    font-size: 20px;
    width: 80px;
}

a {
    color: white;
}

.button {
    background: gray;
    font-size: 20px;
    width: 80px;
}