* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.dojodachi {
    
    padding: 20px;
    font-size: 18px;
    
}

.msg {
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
}

button {
    margin: 40px;
    font-size: 20px;
    width: 100px;
    background: slategray;
    border-radius: 20px;
}

.reset {
    position: fixed;
    bottom: 10px;
    left: 43%;
}